@import url("http://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.css");

/*
html, body{
	height: 100%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { 
   text-align: center;  
}

::-moz-placeholder {  
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

#root{
	height: 100vh;
}

.navbar{
	height: 58px;
}

main > .container{
	
}



#section_newsfeed{
	flex-grow: 4;
}

#chat{
	height: 100%;
	overflow: hidden;
}

#chatInput{
	flex-shrink: 0;
}

#chat #inputMessage{
	flex: 3;
}

#chatMessages{
	flex-shrink: 0;
	overflow: hidden;
}

#newsfeed textarea{
	height: 7em;
}

#posts{
	overflow: hidden;
	overflow-y: scroll;
}

.post > *{
	overflow: auto;
}

#postInput > div{
	overflow: auto;
}

#addPostButton{
	display: inline;
	float: right;
	cursor: pointer;	
}

#addPostButton input{
	cursor: inherit;
}*/