@import url("http://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.css");

html, body{
	height: 100%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.navbar{
	height: 58px;
}

main{
	height: 100%;
	padding-top: 58px;
}

main > .container{
	margin-top: 3rem;
}

#chat{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 25%;
	overflow: hidden;
}

#chatInput{
	flex-shrink: 0;
	/*height: 4rem;*/
}

#chat #inputMessage{
	flex: 3;
}

#chatMessages{
	flex-shrink: 0;
	overflow: hidden;
}